{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            {{form.errors}}
        </table>
    </form>
    <a href="/register">Register</a>
{% endblock %}

