<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>Django Login Application |
        {% block title %}{% endblock %}</title>
    </head>
    <body style="background-color:#33E0FF;">
    {% load static %}
<img src="{% static "DIAT.jpg" %}" alt="DIAT Logo" width=100px height=100px/>
        <h1>{% block head %}{% endblock %}</h1>
        {% block content %}
        {% endblock %}
        
 <p><b>Today's Quote:</b> <i>"Put your heart, mind, and soul into even your smallest acts. This is the secret of success."</i></p>
    </body>
</html>
