{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block head %}Login Page{% endblock %}
{% block content %}
	<p>
	<b>1.</b>Enter your username and click on login.<br/>
    <b>2.</b>Recall your authentication sentence using image as cue.<br/>
    <b>3.</b>You can record your publication details after login.<br/>
	</p>  
    {% if data %}
                        <ul>
                        {% for dataum in data %}
            <p> 
                <img src="{{dataum.imagefile.url}}" style="width:304px;height:228px">
            </p>
               
                        {% endfor %}
                        </ul>
                {% else %}
                        
                {% endif %}
    <form method="post" action="/editpublish/">{% csrf_token %}
        <table border="1">
        {{form.as_table}}
        </table>
        </br>
        <input type="submit" value="submit" />
    </form>
    </br>
    <a href="/">Exit</a></br>
	
{% endblock %}
