{% extends "base.html" %}
{% block title %}Publications{% endblock %}
{% block head %}Publications Details{% endblock %}
{% block content %}
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            {{form.errors}}
        </table>
    </form>
    <a href="/registration/">Registration</a>
    <a href="/first/">Login</a>
    <a href="/">List of Publications</a>
{% endblock %}

