{% extends "base.html" %}
{% block title %}Upload Image{% endblock %}
{% block head %}Upload Image{% endblock %}
{% block content %}
    <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
        <table border=1>
            {{form.as_table}}
        </table>
        <input type="submit" value="upload" />
    </form>
    </br>
    </br>
    <a href="/registration/">Registration</a></br>
    <a href="/">Exit</a></br>
    
    
{% if data %}
                        <table border=1>
                        {% for dataum in data %}
			<tr>
            <td>	
                <img src="{{dataum.imagefile.url}}" style="width:304px;height:228px">
                </td>
			</tr>
               
                        {% endfor %}
                        </table>
                {% else %}
                        <p>No documents.</p>
                {% endif %}

                {% endblock %}