{% extends "base.html" %}
{% block title %}Publications{% endblock %}
{% block head %}Publications Details
<script>
function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>
{% endblock %}
{% block content %}
    {% if form.errors %}
	{% for error in form.errors %}
        <p>error</p>
	{% endfor %}
    {% endif %}
    {% csrf_token %}
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for title..">
    <table border="1" id="myTable">
     <tr class="header">
        <th>Publication Title</th>
        <th>Shortnote</th>
        <th>Keyword</th>
        <th>Published</th>
        <th>Link</th>
        <th>Name</th>
        <th>Email</th>
        </tr>
   {% if data %}
                        {% for datum in data %}
				
       
        <tr>
        <td>{{datum.title}}</td>
        <td>{{datum.shortnote}}</td>
        <td>{{datum.keyword}}</td>
        <td>{{datum.published}}</td>
        <td><a href="{{datum.link}}">{{datum.link}}</td>
        <td>{{datum.author.first_name}}</td>
        <td><a href="{{datum.author.email}}">{{datum.author.email}}</td>
        </tr>
                
                        {% endfor %}
                        
                {% else %}
                        <p>No documents.</p>
                {% endif %}
                </table>
                </br>
    <b>1.</b> click on <a href="/first/">Login</a> if you have an account</br>
    <b>2.</b> click on <a href="/registration/">Registration</a> to create an account </br>
    {% endblock %}
