{% extends "base.html" %}
{% block title %}Penalty Threshold{% endblock %}
{% block head %}Penalty Threshold{% endblock %}
{% block content %}
    <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
        <table border="5">
            {{form.as_table}}
        </table>
        <input type="submit" value="update" />
    </form>

{% endblock %}