{% extends "base.html" %}
{% block title %}Publications{% endblock %}
{% block head %}User-Publications{% endblock %}
{% block content %}
	<p>
	<b>1.</b>Enter your published as well as ongoing research work details.<br/>
	<b>2.</b>click on save to record details<br/>
	<b>3.</b> click on <a href="/">Exit</a> once done
	</p>
    <form enctype="multipart/form-data" method="post" action="/publish/">
    {% csrf_token %}
	 <table border="1">
		{{form.as_table}}
        </table>
        </br>
        <input type="submit" value="save" />
   	 </form>
   	 
{% endblock %}
