{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block head %}User-Registration{% endblock %}
{% block content %}
	<p>
	<b>1.</b>select an image of your choice from below.<br/>
    <b>2.</b>Click on <b>upload image</b> if you want to upload image.<br/>
	<b>3.</b>Write corresponding image number in <b>Image number</b> field<br/>
	<b>4.</b>Write a valid english sentence using selected image as a context.<br/>
	<b>5.</b>Remember this sentence as your authentication sentence.</br>
	</p>
    <form enctype="multipart/form-data" method="post" action="/registration/">{% csrf_token %}
	 <table border="1">
		{{form.as_table}}
        </table>
        <input type="submit" value="Register" />
   	 </form>
     </br>
     <a href="/imageupload/">Upload Image</a></br>
     <a href="/">Exit</a></br>
{% if data %}
                        <table border=1>
                        {% for dataum in data %}
			<p>	
            <tr>
            <td>{{dataum.imageid}}</td>
             <td>   <img src="{{dataum.imagefile.url}}" style="width:304px;height:228px"></img> </td>
			</p>
               
                        {% endfor %}
                        </table>
                {% else %}
                        <p>No documents.</p>
                {% endif %}
	{% endblock %}

